/* ------------------------------------------- */
/* RESET GENERAL                               */
/* ------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 20px 20px 0 20px;
    background-color:rgb(241, 235, 235);
}

/* ------------------------------------------- */
/* INDEX - ESTRUCTURA GENERAL (GRID MOBILE)    */
/* ------------------------------------------- */
.index {
    display: grid;
    grid-template:
        "main"
        "navbar";
}


.index > nav {
    grid-area: navbar;
    background-color: blue;
}

.index > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------- */
/* SECCIÓN: INFORMATION y AHORROS              */
/* ------------------------------------------- */
.information,
.ahorros {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Gap entre título y detalle */
}

.information__principal {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* 3 Divs de General */
.information__principal > div {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.5s;
}

.information__principal > div > p {
    color: gray;
    font-size: 12px;
}

/* Div General ACTIVE */
.information__principal > div.active {
    background-color: rgb(43, 41, 41);
    color: white;
}

.information__principal > div.active > p {
    color: white;
}

/* ------------------------------------------- */
/* DESGLOSE: AHORROS, TRANSACCIONES, REPORTES  */
/* ------------------------------------------- */
.desglose,
.desglose__ahorros_transacciones,
.desglose__cuadro_reporte,
.index>main,
.index>.navbar {
    display: flex;
    flex-direction: column;
    gap: 25px; /* Gap entre secciones */
}

/* ------------------------------------------- */
/* TÍTULOS (AHORROS, TRANSACCIONES, RECORD...) */
/* ------------------------------------------- */
.ahorros__titulos,
.transacciones__titulos,
.record__titulos,
.cuadro__titulos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ahorros__titulos > h2,
.transacciones__titulos > h2,
.record__titulos > h2,
.cuadro__titulos > h2 {
    font-size: 18px;
}

.ahorros__titulos > p,
.transacciones__titulos > p,
.record__titulos > p,
.cuadro__titulos > p {
    font-size: 14px;
    color: gray;
    display: flex;
    gap: 5px;
    align-items: center;
}

/* ------------------------------------------- */
/* DETALLE AHORROS, CUADRO, RECORD             */
/* ------------------------------------------- */
.ahorros__detalle,
.cuadro__detalle,
.record__detalle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* EXCEPCIÓN: RECORD SIN GAP, CON MARGIN */
.record__detalle {
    margin-top: 25px;
}

/* AHORROS DETALLE - TOTAL */
.ahorros__detalle > .total {
    background-color: beige;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10%;
}

.total > i {
    font-size: 30px;
    color: green;
}

.total > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.total > div > p,
.ahorros__detalle > ul > li > p {
    color: gray;
    font-size: 14px;
}

.desglose>div>section{
    padding: 25px;
    background-color :white;
    border-radius: 15px;
}

/* ------------------------------------------- */
/* LISTAS GENERALES (UL)                       */
/* ------------------------------------------- */
ul {
    outline: none;
    text-decoration: none;
    list-style: none;
}

/* LISTA AHORROS Y CUADRO - CUADRÍCULA */
.ahorros__detalle > ul,
.cuadro__detalle > ul {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 10%;
}

/* LISTA RECORD - VERTICAL */
.record__detalle > ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ELEMENTOS DE LISTA AHORROS */
.ahorros__detalle > ul > li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10%;
    position: relative;
}

.ahorros__detalle > ul > li > h2 {
    font-size: 16px;
}

/* LINEA DE COLOR EN LOS LI */
.ahorros__detalle > ul > li::before,
.cuadro__detalle > ul > li::before,
.record__detalle > ul > li::before {
    content: '';
    height: 100%;
    width: 4px;
    border-radius: 5px;
    background-color: var(--color);
    position: absolute;
    top: 0;
    left: 0;
}

/* ------------------------------------------- */
/* TRANSACCIONES                               */
/* ------------------------------------------- */
.transacciones__detalle > ul {
    list-style: none;
}

.transacciones__detalle > ul > li > .persona {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* TEXTO E IMAGEN TRANSACCIÓN */
.persona > img {
    height: 80%;
    width: 25px;
}

.persona > h2 {
    font-size: 14px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.info > h2,
.info > p {
    font-size: 12px;
}

/* CADA TRANSACCIÓN INDIVIDUAL */
.transacciones__detalle > ul > li {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

/* ------------------------------------------- */
/* CUADRO CON IMAGEN                           */
/* ------------------------------------------- */
.cuadro__detalle > img {
    margin-top: 15px;
    width: 60%;
    max-width: 140px;
}

/* CUADROS INDIVIDUALES DE RECORD/CUADRO */
.record__detalle > ul > li,
.cuadro__detalle > ul > li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10%;
    position: relative;
    background-color: beige;
    border-radius: 10px;
}

.record__detalle>ul>li{
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.cuadro__detalle > ul > li {
    background-color: transparent;
}

.cuadro__detalle > ul > li > h2,
.record__detalle > ul > li > h2 {
    font-size: 16px;
}

.cuadro__detalle > ul > li > p,
.record__detalle > ul > li > p {
    color: gray;
    font-size: 14px;
}

/*** NAVBAR //// */

#check,
.navbar>h2,
.navbar__options>a>p{
    display: none;
}

.index>.navbar{
    background-color: rgb(61, 61, 61);
    margin-top: 35px;
}

.navbar__options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px 0;
}

.navbar__options>.option{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.option.active{
    background-color: white;
    color: green;
    position: relative;
}

.option.active::before{
    content: '';
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
}



/** TABLET DESIGN ///*/

 @media screen and (min-width:768px) {
    body {
        padding: 0;
    }

    .index{
        padding: 25px 25px 0 25px;
        background-color:rgb(241, 235, 235);
    }

    .information__principal {
        flex-direction: row;
        gap: 15px;
    }

    .information__principal>div{
        width: 100%;
        padding: 15px 35px;
    }

    /*ESTE PADDING SERA IGUALES PARA TODOS, AHORROS...TRANSACCIONES... */
    .ahorros,
    .transacciones,
    .cuadro,
    .record{
        padding: 25px;
    }

    .ahorros__detalle{
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .ahorros__detalle>.total{
    padding: 15px 0 15px 20px;
    width: 50%;
    }

    .transacciones__detalle>ul>li{
        position: relative;
        margin-top: 35px;
    }

    .transacciones__detalle>ul>li::before{
        background-color: rgb(245, 239, 239);
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -50%;
    }

    .cuadro{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .cuadro__detalle{
        display: flex;
        flex-direction: row;
        padding-left: 30%;
    }

    .cuadro__detalle>ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: end;
    }

    .record__detalle>ul{
        width: 100%;
    }

 }


 @media screen and (min-width:1024px){

    /*TAMAÑO DEL INDEX DEBERIA SER AUTOMATICO */
    /**** NAVBAR LAPTOP DESIGN *****/ 
    .index {
        padding: 0;
        grid-template-columns: 20% auto;
        grid-template-areas: 
            "navbar main";
    }

    .index>.navbar{
        transition: ease all 0.5s;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        padding: 25px 0px 0 0px;
        width: 100%;
    }

    .index>main{
        padding: 25px;
        background-color:rgb(241, 235, 235);
    }

    .index>.navbar,
    .index>main{
        gap: 25px;
    }

 

    .navbar>.navbar_titulo{
        color: white;
        padding-left: 25px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar>h2,
    .navbar__options>a>p{
        display:block;
    }

    .navbar__options>a>p{
        font-size: 16px;
    }

    .navbar__options{
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 0;
        gap: 15px;
    }

    .navbar__options>.option{
        gap: 15px;
        width: 90%;
        padding: 15px 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        align-items: center;
    }

    .option.active::before{
        height: 100%;
        width: 5px;
        border-radius: 0;
    }

    .option.active>p{
        color: black;
    }

    .navbar.active{
        transition: ease all 0.5s;
        align-items: center;
        padding: 25px;
        color: white;
    }
    
    .navbar.active>#check,
    .navbar_titulo>i{
        display: block;
        cursor: pointer;
        font-size: 25px;
        color: white;
    }

    .navbar.active .navbar__options,
    .navbar.active .navbar_titulo{
        display: none;
    }

    .index.active{
        transition: 0.5s;
        grid-template-columns: max-content auto;
    }

    /***** HOME LAPTOP DESIGN STYLES ***/
    .desglose{
        flex-direction: row;
    }

    .desglose__ahorros_transacciones{
        width: 60%;
    }

    .desglose__cuadro_reporte{
        width: 40%;
    }

    .transacciones{
        height: 100%;
    }

    .cuadro__detalle{
        display: flex;
        flex-direction: row;
        padding-left:10%;
    }

    .cuadro__detalle>ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    
 }